@charset "UTF-8"; 

html {
    
    font-size: 100%;
}

.tit {

    width: 100%;
    text-align: left;
    

}

/*.yellow-box {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
  width: 80%;
  top: 60px;
  height: 30px;
  color: black;
  vertical-align: top;

}*/

#bo a:hover{
    color: white;

}

.title-text {
 
    margin-left: 70px;
    margin-top: 50px;
    color: black;
    font-size: 6rem;
    font-family: 'Courier New', Courier, monospace;   
    font-weight:bolder; 

}


#t-txt {
 
    margin-left: 60px;
    margin-top: 30px;
    color: white;
    width: 65%;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;   
    font-weight:bolder; 

}


img {
    max-width: 100%;
}



.page-header {
    display:flex;
    justify-content: space-between;   

}



.ca{
    margin-top: 50px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 17px;
    background-color: #fff;
}


.item p {
    margin-top: 30px;
    margin-left: 30px;
    color :black; 
}

.item b {
    font-size: 3.5rem;
    margin-top: 100px;
    
    
}

a{
    color: black;
}
a:hover{
    color: white;
}




.item {
    margin-top: 80px;
    width: 100%;
    height: 500px;    
    border-radius: 23px;
}

#icon{
    display: inline-block;
    margin-right: 18px;
    margin-left: 15px;
    width: 100px;
    height: 100px;
    text-align: center;

}


#contact{
    margin-top: 30px;
}
#con-txt {
    
    font-size: 1.3rem;
    margin-top: 20px;

    
}

.a-txt{
    margin-top: 85px;
    margin-left: 30px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.iport {

    display: inline-block;
    margin-top: 10px;
    margin-right: 18px;
    margin-left: 15px;
    width: 200px;
    height: 120px;
    text-align: center;

}

#main {
    position: fixed;
    top: 0;
    text-align: right;
    margin-top: 70px;
    margin-right: 30px;
    font-family: 'Courier New', Courier, monospace;
    height: 90px;
    width: 100%;

    font-size: 1.5rem;
   

}

#contact {
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #fff;

    text-align: center;   

}

.con-title{
    margin-top: 50px;
    color: white;

}

#con-txt {
    
    text-align: center;
    font-size: 1rem;
    
}

.gitlab {
    display: inline-block;
    background-color: black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    color: #fff;

    font-size: 3em;
    text-align: center;  
    margin-left: 30px; 


}

#gitbutton{

    color: white;
    cursor: pointer;
    font-size: 1.25rem;

}



.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
    background-color: hsl(210, 45%, 39% 25);
}


footer {

    text-align: center;
    padding: 35px 0;
}

.bd.bg {
    background-color: rgb(251, 206, 57);
}